
@{
    ViewBag.Title = "Grabar";
}

<h2>Grabar</h2>

@model DiplomadoMVC_Crud_HTML_Helps_NoTipados.Models.Productos

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=devide-width" />
    <title>Datos Articulo</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Grabar", "Home", FormMethod.Post))
        {
            <p>
                Codigo de producto:
                @Html.DisplayFor(model => model.Codigo)
                @Html.HiddenFor(model => model.Codigo)
            </p>
            <p>
                Descripcion:
                @Html.TextBoxFor(model => model.Descripcion)
            </p>
            <p>
                Precio:
                @Html.TextBoxFor(model => model.Precio)
            </p>
            <p>
                <input type="submit" name="Confirmar" value="Confirmar" />
            </p>
        }
    </div>
</body>
</html>