@model DiplomadoMVC_Crud_HTML_Helps_NoTipados.Models.Productos
@{
    ViewBag.Title = "ModificacionProducto";
    @Layout = null;
}

<h2>ModificacionProducto</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Datos Articulo</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("ModificacionProducto","Home", FormMethod.Post))
        {
            <p>
                Codigo producto:
                @Html.Display("Codigo")
                @Html.Hidden("Codigo")
            </p>
            <p>
                Descripcion:
                @Html.TextBox("Descripcion")
            </p>
            <p>
                Precio:
                @Html.TextBox("Precio")
            </p>
            <p>
                <input type="submit" name="Confirmar" value="Confirmar" />
            </p>
        }
    </div>
</body>
</html>