
@{
    ViewBag.Title = "ProductoNoExistente";
    Layout = null;
}

<h2>ProductoNoExistente</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Articulo no existente</title>
</head>
<body>
    <div>
        <p>El codigo de producto ingresado no existe.</p>
        @Html.ActionLink("Retornar","Index")
    </div>
</body>
</html>